<launch>
  <include file="$(find preprocessing)/launch/preprocessing.launch"/>
  <include file="$(find kinematics)/launch/kinematics.launch"/>
  <include file="$(find g1_moveit_config)/launch/demo.launch"/>
  <include file="$(find reel_steel)/launch/simulator.launch"/>
  <include file="$(find graph_points)/launch/graph_points.launch"/>
</launch>